<!-- footer -->
<!-- contact section -->
<section id="contact" class="page ">

  <!-- page content -->
  <div class="page-content dark bg-pattern"  >

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="title-page clearfix" >
            <span>Contact Us</span>
            <h2>
              Contact Us
            </h2>
            <div class="devider-top"></div>
            <i class="fa fa-arrow-circle-down"></i>
            <p class="text-center" >Phasellus auctor felis quis <br/> risus varius ac posuere massa dapibus.</p>
            <div class="devider-bottom"></div>
          </div>

          <div class=" text-center clearfix">
            <div class="col-md-4 no-padding">
              <div class="contact-info">
                <h3>Email</h3>
                <i class="fa fa-envelope"></i>
                <p>info@website.com <br/> support@website.com</p>
              </div>
            </div>
            <div class="col-md-4 no-padding">
              <div class="contact-info">
                <h3>Address</h3>
                <i class="fa fa-map-marker"></i>
                <p>Street lacinia bibendum nulla <br/> posuere erat No 256</p>
              </div>
            </div>
            <div class="col-md-4 no-padding">
              <div class="contact-info">
                <h3>Phone</h3>
                <i class="fa fa-phone"></i>
                <p>HP : +(62)43212-123 <br/> Fax : +(62)8754-43212</p>
              </div>
            </div>
          </div>


          <div class="white-space-20"></div>
        </div>
      </div>
    </div>
  </div><!-- page content -->

  <!-- map -->
</section><!-- end contact section -->
<footer class="main-footer">
  <!-- bottom footer -->
  <div class="bottom-footer" >
    <a href="#" class="back-to-top" >
      <i class="fa fa-angle-up"></i>
    </a>
    <div class="container">
      <ul class="list-inline social-footer ">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-google"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
      </ul>
      <p>&copy; 2015 Little Angels</p>
    </div>
  </div><!-- end bottom footer -->
</footer><!-- end footer -->
<!-- overfly push menu -->
<div class="over-fly-push"></div>
