<div class="wrapper">
  <app-mini-navbar></app-mini-navbar>
  <!-- main body content -->
  <div class="main-body">
    <!--  page section -->
    <section class="page br-top">

      <div class="container" >
        <div class="row">

          <!--  page left -->
          <div class="col-md-8" >

            <div class="page-content border-right" >
              <!--  blog post -->
              <div class="blog-post" >
                <h1 class="title-post"><a href="blog_single.html"><span>About Our Foundation</span></a> </h1>
                <p class="font-alt text-center">June 30, 2015</p>
                <div class="body-post">
                  <!--  datetime -->
                  <div class="date-area">
                    <div class="date" >
                      20
                    </div>
                    <span class="font-alt month-year" >Apr, 15</span>
                    <div><a href="#" class="link-black"><i class="fa fa-heart"></i> <strong>(32)</strong></a></div>
                  </div>

                  <a href="blog_single.html">
                    <img src="assets/assets/theme/img/bg/d1.jpg" alt="" class="img-cover">
                  </a>
                  <p>
                    Integer faucibus magna vitae augue suscipit a varius sem scelerisque. Nunc scelerisque tempus nunc in euismod. In sagittis congue sodales. Cras sit amet est nibh. Suspendisse eget ligula in nulla iaculis interdum nec a odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras massa odio, facilisis tincidunt blandit semper, lacinia semper dui. Donec viverra eros quis urna congue facilisis. Vivamus convallis imperdiet porta. Aliquam a nisi risus, vitae faucibus sem.
                  </p>

                  <blockquote>
                    This is a regular blockquote! The path of a cosmonaut is not an easy trium march to glory. You have get to not joy but also of grief.
                  </blockquote>

                  <p>
                    Integer faucibus magna vitae augue suscipit a varius sem scelerisque. Nunc scelerisque tempus nunc in euismod. In sagittis congue sodales. Cras sit amet est nibh. Suspendisse eget ligula in nulla iaculis interdum nec a odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras massa odio, facilisis tincidunt blandit semper, lacinia semper dui. Donec viverra eros quis urna congue facilisis. Vivamus convallis imperdiet porta. Aliquam a nisi risus, vitae faucibus sem.
                  </p>

                </div>
              </div><!-- end blog post -->

              <!--  heading page -->
              <div class="white-space-30"></div>
              <h3 class="title-page-2"><span>You Might Also Like</span></h3>
              <div class="white-space-10"></div>

              <!--  simple blog post -->
              <div class="row">
                <div class="col-md-6 ">
                  <div class="box-simple-blog ">
                    <a href="#">
                      <img src="assets/assets/theme/img/thumb/1.jpg" alt="" class="img-cover">
                    </a>
                    <h4 class="title-page-2"><a href="#"><span>Someone who need helps</span></a></h4>
                    <p>
                      Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus [...]
                    </p>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="box-simple-blog ">
                    <a href="#">
                      <img src="assets/assets/theme/img/thumb/2.jpg" alt="" class="img-cover">
                    </a>
                    <h4 class="title-page-2"><a href="#"><span>From Zero to Hero</span></a></h4>
                    <p>
                      Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus [...]
                    </p>
                  </div>
                </div>
              </div>
              <button class="btn btn1 btn-dark"><span>Post Comment</span></button>
            </div>
          </div><!--  end page left -->

          <div class="col-md-4">
            <div class="page-content" >
              <div class="box-widget">
                <h5 class="title-widget">Search Form</h5>
                <form >
                  <div class="input-group">
                    <input type="text" placeholder="Keywords" name="search" class="form-control form-flat ">
                    <span class="input-group-btn">
                          <button class="btn btn1 btn-dark-full btn-ic" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                  </div>
                </form>
              </div>

              <div class="box-widget">
                <h5 class="title-widget">Text Widget</h5>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras massa odio, facilisis tincidunt blandit semper, lacinia semper dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
              </div>


              <div class="box-widget">
                <h5 class="title-widget">Categories</h5>
                <ul class="list-category list-unstyled">
                  <li><a href="#">Web Design <span >(10)</span></a></li>
                  <li><a href="#">Wordpress <span >(2)</span></a></li>
                  <li><a href="#">Html/Css <span >(6)</span></a></li>
                  <li><a href="#">Branding <span >(20)</span></a></li>
                  <li><a href="#">Animation <span>(4)</span></a></li>
                </ul>
              </div>

              <div class="box-widget">
                <h5 class="title-widget">Popular tags</h5>
                <ul class="list-tags list-unstyled">
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">Wordpress</a></li>
                  <li><a href="#">Html/Css</a></li>
                  <li><a href="#">Branding</a></li>
                  <li><a href="#">Animation</a></li>
                  <li><a href="#">Xcode</a></li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">Socials media</a></li>
                  <li><a href="#">Photography</a></li>
                </ul>
              </div>

              <div class="box-widget">
                <h5 class="title-widget">Archives</h5>
                <ul class="list-archive list-unstyled">
                  <li><a href="#">June 2014</a></li>
                  <li><a href="#">July 2014</a></li>
                  <li><a href="#">October 2014</a></li>
                  <li><a href="#">November 2014</a></li>
                  <li><a href="#">December 2014</a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!--  page bottom -->
      <div class="page-content border-top soft" >
        <div class="container text-center">
          <h3 class="font-big bold no-margin-top">We Need Your Help!</h3>
          <p class="font-alt mb10">Check how you can help us</p>
          <a href="index.html#how-you-can-help" class="btn btn1 btn-dark ">How You Can Help</a>
        </div>
      </div><!--  end page bottom -->
    </section><!--  end page section -->
  </div><!-- end main body content -->
  <app-footer></app-footer>
</div><!-- end wrapper -->

<!-- Note: Put Modal on Bottom -->
<!-- Modal donate -->
<div class="modal fade" id="modal-donate" >
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Donate Information</h3>
      </div>
      <form>
        <div class="modal-body clearfix">
          <div class="form-group clearfix">
            <p>I would like to make a donation in the amount of:</p>
            <div class="form-group">
              <div class="radio flat-radio">
                <label>
                  <input type="radio" name="r" checked="" class="ammount_val" value="1000" >
                  <span class="fa fa-check"></span>
                  $1,000
                </label>
              </div>
              <div class="radio flat-radio ">
                <label>
                  <input type="radio" name="r" class="ammount_val" value="500">
                  <span class="fa fa-check"></span>
                  $500
                </label>
              </div>
              <div class="radio flat-radio ">
                <label>
                  <input type="radio" name="r" class="ammount_val" value="100">
                  <span class="fa fa-check"></span>
                  $100
                </label>
              </div>
              <div class="radio flat-radio ">
                <label>
                  <input type="radio" name="r" class="ammount_val" value="other">
                  <span class="fa fa-check"></span>
                  Other
                </label>
              </div>
            </div>
            <div class="hidden" id="other_amount">
              <input type="text" class="form-control " placeholder="Other" >
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox flat-checkbox">
              <label>
                <input type="checkbox">
                <span class="fa fa-check" ></span>
                I would like this donation to automatically repeat each month
              </label>
            </div>
          </div>
          <hr/>
          <h4>Donor Information</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name:</label>
                <input type="text" class="form-control " placeholder="First Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last Name:</label>
                <input type="text" class="form-control " placeholder="Last Name">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control " placeholder="Email" >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn1 btn-dark">Donate</button>
        </div>
      </form>
    </div>
  </div>
</div><!-- end  Modal Donate-->
