<!-- bottom header -->
<div class="site-description f_bottom" id="site-description">
  <div class="row">
    <div class="col-sm-10">
      <a href="index.html" class="logo white"><img src="assets/assets/theme/img/logo.png" alt=""></a>
      <a href="index.html" class="logo black"><img src="assets/assets/theme/img/logo2.png" alt=""></a>
    </div>
    <div class="col-sm-2 hidden-sm hidden-xs text-right">
      <div class="padd-donate">
        <a  href="#modal-donate" data-toggle="modal"  class="btn btn1 ">Donate Now</a>
      </div>
    </div>
  </div>
  <a href="#" class="toogle-menu">
    <span class="sr-only">Toogle Menu</span>
    <div class="bars">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
</div><!-- end bottom header -->
