<!-- Header -->
<header class="main-header" id="main-header">
  <div class="wrap-window">
    <!-- slider header -->
    <div id="header-gslider1" class="carousel slide carousel-fade carousel-01" data-ride="carousel" data-interval="8000" data-pause="">
      <div class="carousel-inner">
        <div class="item active" data-index="1">
          <div data-holdbg="assets/assets/theme/img/bg/d2.jpg" class="img-wrap"></div>
        </div>
        <div class="item" data-index="2">
          <div data-holdbg="assets/assets/theme/img/bg/d4.jpg"  class="img-wrap"></div>
        </div>
        <div class="item" data-index="3">
          <img src="assets/assets/theme/img/bg/d5.jpg" alt="" class="img-wrap">
        </div>
      </div>
    </div><!-- end slider header -->
    <!-- header content -->
    <div class="wrap-header">
      <div class="overfly-header"></div>
      <div class="stat-slider"><span id="header-gslider1-current">-</span>/<span id="header-gslider1-total">-</span></div>
      <div class="content-header">
        <div class="mid-content-header">
          <h1>Help Us Develop<br/>Our Future Generation</h1>
          <div>
            <a href="#about-us"  class="inner-link link-white" >
              <p class="text-uppercase">Learn More</p>
              <span class="circle"><i class="fa fa-angle-down"></i></span>
            </a>
          </div>

        </div>
      </div>
    </div><!-- end header content -->
    <app-mini-navbar></app-mini-navbar>
  </div>
</header><!-- end Header -->
