
<div class="wrapper">

  <app-navbar></app-navbar>
  <!-- main body content -->
  <div class="main-body">


    <!-- meet the angles section -->
    <section id="meet-the-angles" class="page">

      <!-- page content-->
      <div class="page-content " >

        <div class="container">
          <!-- title page -->
          <div class="title-page clearfix" >
            <span>Meet The Angles</span>
            <h2>
              Meet The Angles
            </h2>
            <div class="devider-top"></div>
            <i class="fa fa-arrow-circle-down"></i>
            <p class="text-center" >Phasellus auctor felis quis <br/> risus varius ac posuere massa dapibus.</p>
            <div class="devider-bottom"></div>
          </div><!-- end title page -->

          <!-- filter gallery-->
          <ol class="breadcrumb text-center list-filter">
            <li class="active" data-filter="*"><a href="#">All</a></li>
            <li data-filter=".g_img"><a href="#">Image</a></li>
          </ol>

          <!-- gallery grids-->
          <div class="galery-box clearfix  ">
            <div class="col-sm-3 col-xs-6 item-box g_img">
              <a href="assets/assets/theme/img/thumb/1.jpg" class="hover-area image-popup" title="pic01">
                <div class="text-vcenter-area">
                  <div class="text-vcenter">
                    <h4>Title Heading <i class="fa fa-link"></i></h4>
                  </div>
                </div>
                <div class="icon-area"><i class="fa fa-image"></i></div>
              </a>
              <img src="assets/assets/theme/img/thumb/1.jpg" alt="">
            </div>
          </div><!-- end gallery grids-->

        </div>
      </div><!-- end page content-->
    </section><!-- end meet the angles section -->

    <!-- the-mission section -->
    <section id="the-mission" class="page ">

      <!--video-cover-->
      <div data-holdbg="assets/theme/img/bg/p2.jpg" class="bg-cover video-cover"  >
        <div class="full-absolute">
          <div class="overfly"></div>
          <div class="vm-contnet">
            <div class="vmiddle-contnet">
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="title-page paddB20">
                      <span class="color-transparent">Together We Can</span>
                      <h2>
                        Together We Can
                      </h2>
                    </div>
                    <p class="text-center" >Promote inclusion of children with special needs and provide ongoing training and support for teachers, families and building schools all over the Bufuka area on Lake Bunyonyi.</p>
                    <div class="white-space-10"></div>
                    <div class="text-center">
                      <a href="https://www.youtube.com/watch?v=7NTK_jLgA2s" class="btn-play popup-youtube"  title="vid01">
                        <i class="fa fa-play"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--end video-cover-->

    </section><!-- end the-mission section -->

    <!-- about-us section -->
    <section id="about-us" class="page">

      <!-- page content -->
      <div class="page-content" >
        <div class="container" >

          <!-- title page -->
          <div class="title-page clearfix" >
            <span>About Us</span>
            <h2>About Us</h2>
            <div class="devider-top"></div>
            <i class="fa fa-arrow-circle-down"></i>
            <p class="text-center" >Little Angels can do so much with so little, <br/>and you can be a part of that!</p>
            <div class="devider-bottom"></div>
          </div><!-- end title page -->

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-md-3 ">
                  <h3 class="title-page-2"><span>Overview</span></h3>
                </div>
                <div class="col-md-9 ">
                  <p>We believe we are unique to larger charities operating here in Africa, we pride ourselves on being able to show our visitors and donators exactly where there money is being spent. We are a smaller charity and have the advantage of being able to spend the large majority of our donations directly on the children and their educational needs. Five classrooms, an office and a toilet block have been built with construction already commenced on another classroom and accommodation for our volunteers.</p>
                </div>
              </div>
              <div class="white-space-10"></div>
            </div>
          </div>
        </div>

      </div> <!-- end page content -->

      <div class="clearfix half-box">
        <div class="col-sm-6 no-padding bg-cover half-box-item" data-holdbg="assets/theme/img/c1.jpg"  >
          <div class="half-box-ov">
            <div class="vm-contnet">
              <div class="vmiddle-contnet">
                <a href="#how-you-can-help" class="btn btn1 btn-dark btn-lg inner-link"> How You Can Help </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 no-padding dark half-box-item" >
          <div class="vm-contnet">
            <div class="vmiddle-contnet">
              <div class="qoute-bigtext  font-alt">
                Be proud of yourself,
                you're really changing those little angels lifes! <br/>
                Your passion is admirable. <br/>
                Never give up!
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- end about-us section -->

    <!-- how-you-can-help section -->
    <section id="how-you-can-help" class="page">

      <!-- page content -->
      <div class="page-content " >
        <div class="container">
          <div class="title-page clearfix" >
            <span>How You Can Help</span>
            <h2>
              How You Can Help
            </h2>
            <div class="devider-top"></div>
            <i class="fa fa-arrow-circle-down"></i>
            <p class="text-center" >Phasellus auctor felis quis <br/> risus varius ac posuere massa dapibus.</p>
            <div class="devider-bottom"></div>
          </div>

          <div class="clearfix box-help" >
            <div class="col-md-4 no-padding dark desc" >
              <div class="num" >1</div>
              <h3>Make Donation</h3>
              <p >Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus.</p>
              <a href="#modal-donate" data-toggle="modal" class="btn btn1 btn-light" > Donate </a>
            </div>
            <div class="col-md-8 no-padding help-cover" data-holdbg="assets/theme/img/bg/d1.jpg"></div>
          </div>

          <div class="clearfix box-help right-side" >
            <div class="col-md-4 no-padding dark desc " >
              <div class="num" >2</div>
              <h3>Become a Volunteer</h3>
              <p >Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus.</p>
              <a href="#modal-volunteer" data-toggle="modal" class="btn btn1 btn-light" > Volunteer </a>
            </div>
            <div class="col-md-8 no-padding help-cover" data-holdbg="assets/theme/img/bg/d3.jpg" ></div>
          </div>

          <div class="clearfix box-help" >
            <div class="col-md-4 no-padding dark desc" >
              <div class="num" >3</div>
              <h3>Tell Your Friends About Us</h3>
              <p >Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus.</p>
              <a href="#modal-share"  data-toggle="modal"  class="btn btn1 btn-light" > Share </a>
            </div>
            <div class="col-md-8 no-padding help-cover" data-holdbg="assets/theme/img/c1.jpg"></div>
          </div>

          <div class="white-space-10"></div>

        </div>
      </div><!-- end page content -->


      <!-- page content dark-->
      <div class="page-content dark hidden ">
        <div class="container">
          <!-- page title-->
          <div class="title-page2 clearfix" >
            <h3>
              <span>Our Events</span>
            </h3>
          </div><!-- end page title-->

          <!-- slider events-->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="box-event">
                  <div class="row" >
                    <div class="col-md-6 ">
                      <img src="assets/theme/img/thumb/10.jpg" alt="" class="img-cover">
                    </div>
                    <div class="col-md-6">
                      <ul class="list-inline info-top" >
                        <li>
                          <div class="event-date" >
                            <div class="date">20</div>
                            <div class="font-alt">Aug, 15</div>
                          </div>
                        </li>
                        <li>
                          <div class="color-white">
                            <i class="fa fa-clock-o"></i>  Sunday, 10:00 am - 12:00 pm
                          </div>
                          <div class="color-white">
                            <i class="fa fa-map-marker"></i>   123 Broadway, New York, NY 10006, USA
                          </div>
                          <div class="font-alt">Open Ticket</div>
                        </li>
                      </ul>
                      <h4 class="title-page-2"><span>Christmas Services at St Paul’s Cathedral</span></h4>
                      <p>
                        When there is a change in text size . Integer pellentesque volutpat nisi, eget molestie magna sollicitudin eu. Pellentesque nec lacus molestie diam vehicula ullamcorper ac vel nibh Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus [...]
                      </p>
                      <p><a href="#" class="btn btn1 btn-light" > Join Now </a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="box-event">
                  <div class="row" >
                    <div class="col-md-6 ">
                      <img src="assets/theme/img/thumb/2.jpg" alt="" class="img-cover">
                    </div>
                    <div class="col-md-6">
                      <ul class="list-inline info-top" >
                        <li>
                          <div class="event-date" >
                            <div class="date">19</div>
                            <div class="font-alt">Sep, 15</div>
                          </div>
                        </li>
                        <li>
                          <div class="color-white">
                            <i class="fa fa-clock-o"></i>  Sunday, 10:00 am - 12:00 pm
                          </div>
                          <div class="color-white">
                            <i class="fa fa-map-marker"></i>   123 Broadway, New York, NY 10006, USA
                          </div>
                          <div class="font-alt">Passed</div>
                        </li>
                      </ul>
                      <h4 class="title-page-2"><span>Christmas Services at St Paul’s Cathedral</span></h4>
                      <p>
                        When there is a change in text size . Integer pellentesque volutpat nisi, eget molestie magna sollicitudin eu. Pellentesque nec lacus molestie diam vehicula ullamcorper ac vel nibh Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus [...]
                      </p>
                      <p><a href="#" class="btn btn1 btn-light" > Join Now </a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" control-slide">
              <!-- Controls -->
              <a class="" href="#carousel-example-generic"  data-slide="prev">
                <span >&laquo; </span>
              </a>
              &nbsp;
              <a class="" href="#carousel-example-generic"  data-slide="next">
                <span >&raquo;</span>
              </a>
            </div>
          </div><!-- end slider events-->
          <div class="white-space-30"></div>
        </div>
      </div><!-- end page content dark-->


      <div class="page-content dark x-dark hidden"  >
        <div class="container">
          <div class="title-page2 clearfix" >
            <h3>
              <span> Recent Blog</span>
            </h3>
          </div>
          <div class="row">
            <div class="col-md-4 ">
              <div class="box-simple-blog ">
                <a href="#">
                  <img src="assets/theme/img/thumb/10.jpg" alt="" class="img-cover">
                </a>
                <h4 class="title-page-2"><a href="#"><span>Someone who need helps</span></a></h4>
                <p>
                  Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus [...]
                </p>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="box-simple-blog ">
                <a href="#">
                  <img src="assets/theme/img/thumb/1.jpg" alt="" class="img-cover">
                </a>
                <h4 class="title-page-2"><a href="#"><span>From Zero to Hero</span></a></h4>
                <p>
                  Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus [...]
                </p>
              </div>

            </div>
            <div class="col-md-4 ">
              <div class="box-simple-blog ">
                <a href="#">
                  <img src="assets/theme/img/thumb/3.jpg" alt="" class="img-cover">
                </a>
                <h4 class="title-page-2"><span>Giving is the best comunication</span></h4>
                <p>
                  Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus [...]
                </p>
              </div>
            </div>
          </div>
          <div class="white-space-30"></div>
          <p class="text-center">
            <a href="#" class="btn btn1 btn-light" > Check More </a>
          </p>
        </div>
      </div>

    </section><!-- end how-you-can-help section -->

  </div><!-- end main body content -->
  <app-footer></app-footer>

</div><!-- end wrapper -->

<!--&lt;!&ndash; Note: Put Modal on Bottom &ndash;&gt;-->
<!--&lt;!&ndash; Modal donate &ndash;&gt;-->
<!--<div class="modal fade" id="modal-donate" >-->
<!--  <div class="modal-dialog" >-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--        <h3 class="modal-title" >Donate Information</h3>-->
<!--      </div>-->
<!--      <form>-->
<!--        <div class="modal-body clearfix">-->
<!--          <div class="form-group clearfix">-->
<!--            <p>I would like to make a donation in the amount of:</p>-->
<!--            <div class="form-group">-->
<!--              <div class="radio flat-radio">-->
<!--                <label>-->
<!--                  <input type="radio" name="r" checked="" class="ammount_val" value="1000" >-->
<!--                  <span class="fa fa-check"></span>-->
<!--                  $1,000-->
<!--                </label>-->
<!--              </div>-->
<!--              <div class="radio flat-radio ">-->
<!--                <label>-->
<!--                  <input type="radio" name="r" class="ammount_val" value="500">-->
<!--                  <span class="fa fa-check"></span>-->
<!--                  $500-->
<!--                </label>-->
<!--              </div>-->
<!--              <div class="radio flat-radio ">-->
<!--                <label>-->
<!--                  <input type="radio" name="r" class="ammount_val" value="100">-->
<!--                  <span class="fa fa-check"></span>-->
<!--                  $100-->
<!--                </label>-->
<!--              </div>-->
<!--              <div class="radio flat-radio ">-->
<!--                <label>-->
<!--                  <input type="radio" name="r" class="ammount_val" value="other">-->
<!--                  <span class="fa fa-check"></span>-->
<!--                  Other-->
<!--                </label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="hidden" id="other_amount">-->
<!--              <input type="text" class="form-control " placeholder="Other" >-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <div class="checkbox flat-checkbox">-->
<!--              <label>-->
<!--                <input type="checkbox">-->
<!--                <span class="fa fa-check" ></span>-->
<!--                I would like this donation to automatically repeat each month-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <hr/>-->
<!--          <h4>Donor Information</h4>-->
<!--          <div class="row">-->
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label>First Name:</label>-->
<!--                <input type="text" class="form-control " placeholder="First Name">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label>Last Name:</label>-->
<!--                <input type="text" class="form-control " placeholder="Last Name">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-12">-->
<!--              <div class="form-group">-->
<!--                <label>Email:</label>-->
<!--                <input type="text" class="form-control " placeholder="Email" >-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="submit" class="btn btn1 btn-dark">Donate</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>&lt;!&ndash; end  Modal Donate&ndash;&gt;-->
<!--&lt;!&ndash; Modal volunteer&ndash;&gt;-->
<!--<div class="modal fade" id="modal-volunteer" >-->
<!--  <div class="modal-dialog" >-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--        <h3 class="modal-title" >Become a Volunteer</h3>-->
<!--      </div>-->
<!--      <form>-->
<!--        <div class="modal-body clearfix">-->
<!--          <div class="row">-->
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label>First Name:</label>-->
<!--                <input type="text" class="form-control " placeholder="First Name" >-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--              <div class="form-group">-->
<!--                <label>Last Name:</label>-->
<!--                <input type="text" class="form-control " placeholder="Last Name" >-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-12">-->
<!--              <div class="form-group">-->
<!--                <label>Email:</label>-->
<!--                <input type="text" class="form-control " placeholder="Email" >-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="submit" class="btn btn1 btn-dark">Send Request</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>&lt;!&ndash; end  Modal volunteer&ndash;&gt;-->
<!--&lt;!&ndash; Modal share&ndash;&gt;-->
<!--<div class="modal fade" id="modal-share" >-->
<!--  <div class="modal-dialog" >-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
<!--        <h3 class="modal-title" >Share This Link</h3>-->
<!--      </div>-->
<!--      <div class="modal-body clearfix">-->
<!--        <p>One of the best ways to help the needy children is to spread the word about Little Angels Needy Children & Orphan Project. The more people that know about the message of the Little Angels and what we are trying to achieve is beneficial in getting help and assistance that the needy children need.</p>-->
<!--        <code class="font-sm-big">-->
<!--          http://www.yourwebsite.com-->
<!--        </code>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" data-dismiss="modal" class="btn btn1 btn-dark">Close</button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>&lt;!&ndash; end  Modal share&ndash;&gt;-->
