<!--  main-navbar  -->
<nav class="main-navbar">
  <!--  logo side  -->
  <div class="side-logo">
    <a href="index.html" class="logo"><img src="assets/assets/theme/img/logo2.png" alt=""></a>
  </div><!--  end logo side  -->

  <!--  menu  -->
  <div class="menu-area">
    <ul class="nav metismenu list-unstyled" id="menu">
      <li><a href="#about-us" class="inner-link">About Us</a></li>
      <li><a href="#the-team" class="inner-link">The Team</a></li>
      <li><a href="#the-mission" class="inner-link">The Mission</a></li>
      <li><a href="#meet-the-angles" class="inner-link">Meet The Angles</a></li>
      <li><a href="#how-you-can-help" class="inner-link">How You Can Help</a></li>
      <li><a href="#contact" class="inner-link">Contact</a></li>
      <li>
        <a href="#">Pages <span class="fa arrow"></span></a>
        <ul>
          <li><a href="blog_posts.html ">Blog Posts</a></li>
          <li><a href="blog_single.html ">Blog Single</a></li>
          <li><a href="404.html ">404</a></li>
          <li><a href="theme_element.html ">Theme Element</a></li>
        </ul>
      </li>
      <li><a routerLink="org">Donate</a></li>
    </ul>
  </div><!-- end menu  -->
  <!--  social link  -->
  <div class="side-social clearfix">
    <ul class="breadcrumb clearfix ">
      <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
      <li><a href="#"><i class="fa fa-tumblr-square"></i></a></li>
    </ul>
  </div><!--  end social link  -->
</nav><!--  end main-navbar  -->

<!--  Nav mini  -->
<nav class="nav-mini">
  <ul class="nav list-unstyled">
    <li>
      <a href="#about-us" class="inner-link" ><span class="sr-only">About Us</span></a>
      <span class="hover-text">About Us</span>
    </li>
    <li>
      <a href="#the-team" class="inner-link" ><span class="sr-only">The Team</span></a>
      <span class="hover-text">The Team</span>
    </li>
    <li>
      <a href="#the-mission" class="inner-link" ><span class="sr-only">The Mission</span></a>
      <span class="hover-text">The Mission</span>
    </li>
    <li>
      <a href="#meet-the-angles" class="inner-link" ><span class="sr-only">Meet The Angles</span></a>
      <span class="hover-text">Meet The Angles</span>
    </li>
    <li>
      <a href="#how-you-can-help" class="inner-link" ><span class="sr-only">How You Can Help</span></a>
      <span class="hover-text">How You Can Help</span>
    </li>
    <li>
      <a href="#contact" class="inner-link" ><span class="sr-only">Contact</span></a>
      <span class="hover-text">Contact</span>
    </li>
  </ul>
</nav><!--  end Nav mini  -->
<!-- wrapper -->

